<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <script src="layui/layui.js"></script>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
<div class="layui-row">
    <div th:insert="~{header::topbar}"></div>
</div>

<div class="layui-col-md10 layui-col-lg-offset1">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>我的下单</legend>
    </fieldset>
</div>


<div class="layui-row">
    <div class="layui-col-md10 layui-col-lg-offset1">
        <div id="" >
            <table class="layui-table" align="center">
                <colgroup>
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="20%">
                    <col width="10%">
                    <col width="20%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead align="center">
                <tr align="center">
                    <th align="center">订单编号</th>
                    <th align="center">卖家</th>
                    <th align="center">图片</th>
                    <th align="center">描述</th>
                    <th align="center">价格</th>
                    <th align="center">创建时间</th>
                    <td align="center">详情</td>
                    <td align="center">取消</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderList:${applyOrderList}" align="center">
                    <td th:text="${orderList.getOrderid()}"align="center"></td>
                    <td th:text="${orderList.getSeller()}"align="center"></td>
                    <!--<td th:text="${c.password}"></td>-->
                    <td align="center">
                        <img src="//t.cn/RCzsdCq" th:src="@{${orderList.getPic()}}" class="layui-nav-img">
                    </td>
                    <td th:text="${orderList.getDescription()}"align="center"></td>
                    <td th:text="${orderList.getPrice()}"align="center"></td>
                    <td th:text="${orderList.getDate()}"align="center"></td>
                    <!--<td th:text="${c.productIcon}"></td>-->
                    <td align="center">
                        <a class="layui-btn layui-btn-warm layui-btn-xs" th:href="@{/todetailOrderApply/} + ${orderList.getGoodnum()}">详情</a>
                    </td>
                    <td align="center">
                        <a class="layui-btn layui-btn-danger layui-btn-xs" th:href="@{/tocancleOrderApply/} + ${orderList.getOrderid()}">取消</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
